{{ partial "structure/head" . }}
<main>
  <div class="container">
    {{ partial "navigation/breadcrumbs" . }}
    <div class="resume-header">
      <h1>{{ with .Site.Params.fullName }}{{ . }}{{ end}}</h1>
      <h4>{{ with .Site.Params.organizationAddress }}{{ . }}{{ end }}</h4>
      <h4>{{ with .Site.Params.phone }}{{ . }}{{ end }}</h4>
      <h4>{{ with .Site.Params.email }}<a href="mailto:{{ . }}">{{ . }}</a>{{ end }}</h4>
    </div>
    <amp-accordion>
      <section>
        <h2 class="resume-heading">Employment</h2>
        <div class="employments">
          <div class="employment">
            <amp-accordion>
              <section>
                <h4 class="employer"><a href="http://hbo.com/" target="_blank">Home Box Office, Inc.</a> - New York, NY</h4>
                <amp-accordion>
                  <section>
                    <h4 class="job-title">Program Manager, 2006–Present</h4>
                    <div class="job">
                      <ul class="job-functions">
                        <li>Working with group Director to reorganize group along business capability and product lines to ensure continued evolution and effectiveness in context of cost control and accelerating organizational change.</li>
                        <li>Lead PROMPT Program, a multi-application, multi-phase initiative to measure and improve the effectiveness of HBO’s on-channel promotional campaigns for available and upcoming programming using Nielsen and other research data and analysis to maximize subscriber tune-in across platforms and ensure retention.</li>
                        <li>Lead i<sup>3</sup> Program, an ongoing initiative to integrate HBO’s content identification and consumer-facing metadata with external content identification and metadata schemes, including those of Comcast, Gracenote, Rovi, TV Media, FYI Television, and EIDR.</li>
                        <li>Manage up to six direct subordinates and project teams of up to fifteen.</li>
                        <li>Managed support, maintenance, and enhancement of contract (C2), product (P2), and underlying rights (CUES) management applications.</li>
                        <li>Led Programming Availability and Historical Remainders projects to expand and simplify the data available to planners and schedulers, providing more comprehensive and precise guidance in an increasingly complex environment.</li>
                        <li>Led Rights Management Technical Upgrade project, which moved C2, P2, and CUES to more modern underlying technologies without affecting functionality or clients.</li>
                        <li>Led design, development, and deployment of MIND, a $2 million application framework that hosts scheduling and metadata delivery applications for growing number of video on-demand, sale, and rental services launched by HBO (including HBO Go, HBO Mobile, iTunes, Amazon, and several overseas video on-demand services) as well as all existing nonlinear services, which have been migrated from SCHEME, MEND, and MADE.</li>
                      </ul>
                  </section>
                  <section>
                    <h4 class="job-title">Project Leader, 2004–2006</h4>
                    <div class="job">
                      <ul class="job-functions">
                        <li>Designed and led development and maintenance of MEND and MADE, reusable application approaches allowing for the extension of SCHEME to enter additional scheduling and related data and to generate additional metadata formats for video on-demand services beyond the domestic services for which SCHEME was intended.</li>
                        <li>Designed and led development and maintenance of applications to schedule Vodafone linear services and to provide metadata to Time Warner Cable to enable StartOver.</li>
                        <li>Managed support, maintenance, and enhancement of SCHEME, an existing application to schedule domestic video on-demand services, including HBO On-Demand, Cinemax On-Demand, and HBO Mobile on Cingular.</li>
                      </ul>
                    </div>
                  </section>
                  <section>
                    <h4 class="job-title">Software Engineer, February 1999–2004</h4>
                    <div class="job">
                      <ul class="job-functions">
                        <li>Designed, developed, and maintained PlayCheck, automated J2EE-based processes to confirm compliance with linear exhibition rights and limitations and to provide planners and schedulers with figures for remaining exhibition availability, processes that had previously been incompletely and manually addressed, and the automation of which is still in use as initially designed as part of the C2 application.</li>
                        <li>Participated in design, development, and maintenance of J2EE-based applications, including C2 and P2, contract and product management applications, respectively.</li>
                        <li>Led design and development of RIP, an application to integrate internal product data with Nielsen ratings data received by Audience Research group.</li>
                        <li>Participated in internal discussions of the development of HBO On-Demand.</li>
                        <li>Managed another software engineer.</li>
                        <li>Mentored in object oriented design and development by former member of the Bell Labs C++ compiler development team and other HBO consultants using C++, Java, and Eiffel as example languages.</li>
                        <li>Maintained existing Mac-based royalty reporting system developed in HyperCard.</li>
                        <li>Led multiple internal reading groups to explore topics of interest to developers, including Eiffel, XML, and agile development.</li>
                      </ul>
                    </div>
                  </section>
                </amp-accordion>
              </section>
            </amp-accordion>
          </div>
          <div class="employment">
            <amp-accordion>
              <section>
                <h4 class="employer">New York City Financial Network Action Consortium (NYCfNAC) - Brooklyn, NY</h4>
                <div class="job">
                  <h4 class="job-title">Founding Treasurer and Board Member (Volunteer), 2000–2006</h4>
                  <ul class="job-functions">
                    <li>Worked with Executive Director and founding community development credit unions (CDCUs) to structure the corporate entity, define its mission, and secure nonprofit 50(c)(3) status.</li>
                    <li>Developed initial organizational fiscal policies, engaged day-to-day bookkeeper, monitored fiscal activities, and managed annual audit.</li>
                    <li>Transitioned Treasurer responsibilities to another Board Member and continued service as a Board Member, providing operational and strategic guidance and assistance.</li>
                  </ul>
                </div>
              </section>
            </amp-accordion>
          </div>
          <div class="employment">
            <amp-accordion>
              <section>
                <h4 class="employer"><a href="http://bwbsolutions.com/" target="_blank">Brody &amp; Weiser</a> - Branford, CT</h4>
                <div class="job">
                  <h4 class="job-title">Associate, February 1997–January 1999</h4>
                  <ul class="job-functions">
                    <li>Provided support to the Ford Foundation’s Program Related Investment (PRI) efforts, and with Ford Foundation staff, provided training to the Kellogg Foundation and other foundations seeking to offer PRIs.</li>
                    <li>Reviewed and rated investment applications from community development banks on behalf of the United States Treasury’s Community Development Financial Institutions (CDFI) Fund.</li>
                    <li>Assisted the Ms. Foundation for Women with the creation and staffing of a Chief Financial Officer position.</li>
                    <li>Provided planning, management, and financial guidance to several smaller foundations and other nonprofit organizations.</li>
                  </ul>
              </section>
            </amp-accordion>
          </div>
          <div class="employment">
            <amp-accordion>
              <section>
                <h4 class="employer"><a href="" target="_blank">Yale Law School, Community and Economic Development Clinic</a> - New Haven, CT</h4>
                <div class="job">
                  <h4 class="job-title">Adjunct Faculty, September 1997–May 1998</h4>
                  <ul class="job-functions">
                    <li>Served as subject matter expert on community and economic development on behalf of the School of Management in a pro bono law clinic serving underserved people and communities in New Haven, CT, for one academic year.</li>
                  </ul>
                </div>
              </section>
            </amp-accordion>
          </div>
        </div>
      </section>
      <section>
        <h2 class="resume-heading">Education</h2>
        <div class="educations">
          <div class="education">
            <h4 class="institution"><a href="http://som.yale.edu/" target="_blank">Yale School of Management</a> - New Haven, CT</h4>
            <h4 class="degree">Master’s Degree in Public and Private Management</h4>
            <h4 class="job-title">Tutor, Economic Analysis</h4>
          </div>
          <div class="education">
            <h4 class="institution"><a href="http://honorscollege.msu.edu/" target="_blank">Honors College, Michigan State University</a> - East Lansing. MI</h4>
            <h4 class="degree">Bachelor of Arts with Honor, Financial Administration</h4>
          </div>
        </div>
      </section>
      <section>
        <h2 class="resume-heading">Projects</h2>
        <div class="projects">
          <div class="project">
            <h4 class="project-title"><a href="https://rimeshedra.nyc/" target="_blank">RimeShedra.NYC</a></h4>
            <h4 class="job-title">Webmaster</h4>
            <p>Squarespace-hosted Web site for advanced Buddhist study and practice community, which includes the <i><a href="https://play.google.com/music/m/Ieuaesbvaaj2ocfonzxeznc63m4?t=Ignorance_Is_the_Cause_of_Suffering_-_RimeShedraNYC/" target="_blank">Ignorance Is the Cause of Suffering</a></i> podcast.</p>
          </div>
          <div class="project">
            <h4 class="project-title"><a href="http://morgannels.photos/" target="_blank">morgannels Photos</a></h4>
            <h4 class="job-title">Photographer</h4>
            <p>Format-hosted portfolio of personal street and other photography.</p>
          </div>
        </div>
      </section>
      <section>
        <h2 class="resume-heading">Publications</h2>
        <div class="publications">
          <div class="publication">
            <h4 class="article-title"><a href="http://morgannels.com/?page_id=567" target="_blank">Have We Done All We Could? (aka Finance in Denial)</a></h4>
            <h4 class="publisher"><a href="http://www.nakedcapitalism.com/" target="_blank">Naked Capitalism</a> and <a href="http://mathbabe.org/" target="_blank">mathbabe</a></h4>
            <p>Four-part essay proposing a constructive means of viewing and addressing the ongoing financial system crisis.</p>
          </div>
          <div class="publication">
            <h4 class="article-title"><a href="{{ .Site.BaseURL }}/article/what-should-i-be-when-i-grow-up/">What Should I Be When I Grow Up?</a></h4>
            <h4 class="publisher">Sentient City Magazine</h4>
            <p>Essay investigating the application of the Buddhist principle of Right Livelihood to management in a corporate environment.</p>
          </div>
          <div class="publication">
            <h4 class="article-title"><a href="http://morgannels.com/?page_id=145" target="_blank">It's Alright, Ma (I'm Only Dreaming)</a></h4>
            <h4 class="publisher">Sentient City Magazine</h4>
            <p>Essay exploring the relationship between dreams and art, particularly literature.</p>
          </div>
          <div class="publication">
            <h4 class="article-title"><a href="{{ .Site.BaseURL }}/article/residential-lending-in-new-haven-county/">Residential Lending in New Haven County: Evidence from 1990–1991 HMDA Data</a></h4>
            <h4 class="publisher">Connecticut Urban Reinvestment Endowment</h4>
            <p>(With Harvey L. Koizim) Study demonstrating discrimination in mortgage lending by several banks using sophisticated statistical analysis of publicly available data, which led to Professor Koizim’s testimony before the Connecticut legislature.</p>
          </div>
          <div class="publication">
            <h4 class="article-title">Municipal Economic Development Handbook</h4>
            <h4 class="publisher"><a href="http://www.ccm-ct.org/" target="_blank">Connecticut Conference of Municipalities</a></h4>
            <p>Handbook listing economic development resources available to municipalities in Connecticut.</p>
          </div>
        </div>
      </section>
    </amp-accordion>
    {{ partial "share" }}
  </div>
</main>
{{ partial "structure/foot" . }}